<!DOCTYPE html>
<html lang="en">
  <%- include ('adminHead')%>
<body class="g-sidenav-show   bg-gray-100">
    <%- include ('adminHeader')%>
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">หน้าแรก</a></li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page">ติดต่อเรา</li>
              </ol>
              <h6 class="font-weight-bolder text-white mb-0">ติดต่อเรา</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              </div>
              <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Admin</span>
                  </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line bg-white"></i>
                      <i class="sidenav-toggler-line bg-white"></i>
                      <i class="sidenav-toggler-line bg-white"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <% if (messages.success) { %>
              <div class="alert alert-success" role="alert"><%= messages.success %></div>
            <% } %>
              <div class="row">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="card-header pb-0">
                      <h6>รายการติดต่อ</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NO.</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ผู้ติดต่อ</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ข้อความ</th>
                            </tr>
                          </thead>
                          <% if (data) { %>
                            <% data.forEach((item) => { %>
                          <tbody>
                            <tr>
                              <td>
                                  <p class="text-xs font-weight-bold mb-0 px-3"># <%= item.id %></p>
                                
                              </td>
                              <td>
                                  <div class="d-flex px-0 py-1">
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm"><%= item.name %></h6>
                                        <p class="text-xs text-secondary mb-0"><%= item.email %></p>
                                      </div>
                                    </div>
                              </td>
                              <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold"><%= item.message %></span>
                              </td>
                              
                            </tr>
                          </tbody>
                          <% }) %>
                          <% } %>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
  
              </div>
          </div>
    </main>

    <%- include ('siteAdminScript')%>

</body>
</html>