<!DOCTYPE html>
<html lang="en">
  <%- include ('adminHead')%>
<body class="g-sidenav-show   bg-gray-100" >
  <%- include ('adminHeader')%>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="/admin">หน้าแรก</a></li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">หน้าแรก</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Admin</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-lg mb-0 text-dark font-weight-bold">ออเดอร์</p>
                    <% if(countOrder) { %>
                      <% countOrder.forEach((order)=>{ %>
                      <h5 class="font-weight-bolder mt-4 text-primary">
                        <%= order.count %> รายการ
                      </h5>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-lg mb-0 text-dark font-weight-bold">ติดต่อเรา</p>
                    <% if(countContact) { %>
                      <% countContact.forEach((contact)=>{ %>
                      <h5 class="font-weight-bolder mt-4 text-primary">
                        <%= contact.count %> รายการ
                      </h5>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-email-83 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-lg mb-0 text-dark font-weight-bold">หมวดหมู่สินค้า</p>
                    <% if(countCategories) { %>
                      <% countCategories.forEach((countCategory)=> { %>
                    <h5 class="font-weight-bolder mt-4 text-primary">
                      <%= countCategory.count %> รายการ
                    </h5>
                      <% }); %>
                    <% } %>
      
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-diamond text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-lg mb-0 text-dark font-weight-bold">สินค้า</p>
                    <% if(countProducts) { %>
                      <% countProducts.forEach((countProduct)=> { %>
                    <h5 class="font-weight-bolder mt-4 text-primary">
                      <%= countProduct.count %> รายการ
                    </h5>
                      <% }); %>
                    <% } %>
                    
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-app text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">สินค้าขายดี</h6>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center ">
                <% if(dataProducts) { %>
                <tbody>
                  <% dataProducts.forEach((dataProduct) => {%>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="/img/products/<%= dataProduct.image %>" alt="Country flag" width="50px">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0"><%= dataProduct.categoryName %></p>
                          <h6 class="text-sm mb-0"><%= dataProduct.name %> </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">สี</p>
                        <h6 class="text-sm mb-0"><%= dataProduct.color %></h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">ยอดขาย</p>
                        <h6 class="text-sm mb-0"> <%= formatMoney(dataProduct.sumQuantity) %> ชิ้น</h6>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
                <% } %>
              </table>
            </div>
          </div>
        
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">หมวดหมู่สินค้า</h6>
            </div>
            <div class="card-body p-3">

              <ul class="list-group">
                <% if(dataCategories) {%>
                  <% dataCategories.forEach((dataCategory)=> { %>
                  <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex align-items-center">
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark text-sm"><%= dataCategory.name %></h6>
                      </div>
                    </div>
                  </li>
                  <% }) %>
                <% } %>               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>






  <%- include ('siteAdminScript')%>

</body>
</html>