<!DOCTYPE html>
<html lang="en">
<%- include('baseHead')%>
<body>
  <%- include ('siteinfo')%>
  <%- include ('siteHeader')%>

  <div class="container">
    <main class="user-account">
      <div class="user-account-header">
        <h2>บัญชีของฉัน</h2>
      </div>
      <% if(locals.err_message) { %>
        <div class="alert alert-danger"><%= err_message %></div>
      <% } %>
  
      <% if(locals.success_message) { %>
        <div class="alert alert-success"><%= success_message %></div>
      <% } %>
      <div class="change-password-body">
        <form class="change-password-form" action="/users/change-password" method="POST">
            <div class="input-password">
                <label class="input-label" for="">รหัสผ่านปัจจุบัน</label>
                <input type="password" name="current">
            </div>
            <div class="input-password">
                <label class="input-label" for="">รหัสผ่านใหม่</label>
                <input type="password" name="new">
            </div>
            <div class="input-password">
                <label class="input-label" for="">ยืนยันรหัสผ่าน</label>
                <input type="password" name="confirm">
            </div>
            <div class="input-password">
              <input type="submit" value="บันทึก">
            </div>

            
        </form>
      </div>
    </main>
</div>











  

  <%- include ('siteFooter')%>
  <%- include ('siteScripts')%>
</body>
</html>